*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --letras-oscuras: #201E43;
  --fondo-claro: #EEEEEE;
  --fondo: #134B70;
  --fondo-seccion: #508C9B;
  --botones: #201E43;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  background-color: var(--letras-claras);
  color: var(--fondo-claro);
}